*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-style-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Share Style */



.btn-t{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
}
.btn{
    background-color: #469165;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 5px;
    gap:10px;

}

.box-size{
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */

.header{
    background-color: #FFFFFF;

}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;

    padding: 34px 0;
    align-items: center;
}
.nav-mid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;

}

.nav-mid a{
    text-decoration: none;
    color: #000000;
}



/* Hero Section */

.hero-section{
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    text-align: center;

}

.main-hero{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 115px 120px 120px 180px;
}

.btn-access{
    padding: 8px 12px;
    border-radius: 700px;
    font-size: 16px;
    color: #159e4e;
}

.hero-heading{
    font-size: 50px;
    color: #FFFFFF;
    margin: 16px 295px;
}
.hero-heading span{
  color: #159e4e;
}

.hero-paragraph{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 32px;
}

.button{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
}

.hero-btn{
    display: flex;
    gap: 16px;
}


.btn-transparent-text button{
    color: #FFFFFF;

}

/* Card Section */
.card-heading{
    text-align: center;
    padding: 60px;
}

.card-heading h2{
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 12px;
}
.card-heading p{
    font-size: 16px;
    color: #627282;
}

.card-box{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
}

.card-icon{
    width: 60px;
    height: 60px;
    padding: 14px;
    background-color: #F95555;
    border-radius: 50%;
}

.cards{
    padding: 70px 24px ;
    /* border: 1px solid palevioletred; */
    width: 400px;
    max-height: 350px;
    box-shadow: 0 4px 50px 0 #6361615d;
    border-radius: 5px;
    line-height: 1;
}
.card-box .cards h3{
    font-size: 25px;
    line-height: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #001931;
    line-height: 1;
}

.card-box .cards p{
    font-size: 18px;
    font-weight: 400;
    color: #687b8c;
    line-height: 20px;
    width: 300px;
    line-height: 1;
}

 